.item {
    position: relative;
    margin: 10px 0;
}

.item span {
    color: red;
}

.item select {
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color:  #a3c2c2;
}

.item i {
    right: 1%;
    top: 30px;
    z-index: 1;
}

.colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
}
.colums div {
    width:48%;
}

.popup_images{
    display: inline-flex;
    gap: 30px;
}

.popup_image{
    background-color: #ffffff;
    box-shadow: 0 10px 100px 0 rgb(40 47 98 / 8%)
}

.popup_image:hover {
    transform: scale(0.9);
}

.popup-thumbnail {
    width: 400px;
    height: 300px;
}

p{
    margin: 0px;
}

/** POPUP TABLE CSS **/
.wp-list-table  {
    background-color:#F4F7FC !important;
    border-style: none !important;
    border-radius: 10px;
   
}

.wp-list-table thead tr th {
    font-family: sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    size: 12px !important;
    line-height: 14.42px !important;
    border-bottom: none;
}

.widefat thead td,.widefat tfoot td,.widefat tfoot th {
    border-bottom: none !important;
    border-top: none !important;
}

.wp-list-table .no-items {
    background-color: #FFFFFF!important;
}