.metabox-main h4{
    display: inline-block;
    text-align: right;
}

input[type="text"] {
    margin-left: 27px;
}

input[type="url"] {
    margin-left: 116px;
}

input[type="checkbox"] {
    margin-left: 83px;
}

.metabox-4 input[type="checkbox"] {
    margin-left: 54px;
}

select#popup_size {
    margin-left: 75px;
    margin-bottom: 11px;
}

.metabox-6 input[type="checkbox"]{
    margin-left: 105px;
}


